#yii-feed-container p img {
    height: 400px;
    width: 400px;
}

.fc-event {
   background: url('../images/turtle.jpg') no-repeat;
   min-height: 49px;
   min-width: 64px;
}

/*
.fc-border-separate 
{
    height: 20px;
    margin-left: 178px;
    margin-top: -9px;
    width: 20px;
    background:url('../images/turtle.jpg') no-repeat;
}*/
